.active {
  padding-bottom: 30px;
  text-align: center;
}
 
.active__title {
  width: 90%;
  margin: 18px auto;
  font-family: Montserrat;
  color: #333333;
  font-size: 22px;
  font-weight: 700;
}

.active__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.active__item {
  position: relative;
  margin-bottom: 4px;

  &:hover .active__text {
    opacity: 0;
  }
}

.active__item:nth-child(n+1) .active__img {
  width: 300px;
  height: 121px;
}

.active__img {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.active__text {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  z-index: 1;
  width: 90%;
  margin: 0;
  margin-right: -50%;
  font-family: Montserrat;
  font-weight: 700;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.4s ease;
}

.active__subtitle {
  margin: 27px 0 0;
  font-family: Montserrat;
  color: #423c3c;
  font-size: 21px;
  font-weight: 700;
}

.active__text2 {
  margin-bottom: 15px;
  color: #333333;
  font-size: 18px;
}

.active__text3 {
  width: 284px;
  padding: 11px 15px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #bdb5b5;
}

.active__button {
  display: block;
  width: 280px;
  margin: 10px auto;
  padding: 10px 0;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  background-color: #ff4e50;
  transition: all 0.4s ease;

    &:hover {
      color: #ff4e50;
      background-color: #ffffff;
    }
}

@media (min-width: $tablet-width) {
  .active {
    padding-bottom: 90px;
  }

  .active__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 748px;
    margin: 35px auto;
  }

  .active__item {
    margin-bottom: 13px;
  }

  .active__item:nth-child(n+1):nth-child(-n+4) .active__img,
  .active__item:nth-child(7) .active__img {
    width: 236px;
    height: 311px;
  }

  .active__item:nth-child(5) .active__img,
  .active__item:nth-child(6) .active__img {
    width: 492px;
    height: 311px;
  }

  .active__subtitle {
    margin: 80px 0 33px;
  }

  .active__text2 {
    margin-bottom: 27px;
  }

  .active__form {
    width: 54%;
    margin: 0 auto;
  }

  .active__text3 {
    width: 243px;
  }

  .active__button {
    display: inline-block;
    width: 160px;
    margin: 10px 0;
  }
}

@media (min-width: $desktop-width) {
  .active {
    padding-bottom: 95px;
  }

  .active__list {
    width: 938px;
  }

  .active__item:nth-child(n+1):nth-child(-n+4) .active__img,
  .active__item:nth-child(7) .active__img {
    width: 300px;
    height: 310px;
  }

  .active__item:nth-child(5) .active__img,
  .active__item:nth-child(6) .active__img {
    width: 620px;
    height: 310px;
  }
}