.main-nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.main-nav__logo {
  margin-top: 116px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  width: 48%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item:last-child {
  width: 90px;
  height: 36px;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.main-nav__item {
  opacity: 1;
  transition: all 0.4s ease;

  &:hover {
    opacity: 0.75;
  }
}

.main-nav__link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__logo {
    margin: 0;
  }

  .main-nav__list {
    width: 23%;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 17%;
  }
}