.page-footer {
  margin: 17px 0 20px;
}

.page-footer__list,
.page-footer__list2 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.page-footer__item:first-child {
  font-family: Montserrat;
  color: #ff4e50;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-footer__item:nth-child(2){
  margin-top: 12px;
}

.page-footer__item:nth-child(3){
  margin-top: 10px;
}

.page-footer__item:nth-child(2),
.page-footer__item:nth-child(3) {
  font-family: Montserrat;
  color: #333333;
  font-size: 14px;
  font-weight: 700;
}

.page-footer__item:last-child {
  margin-top: 15px;
  font-family: Montserrat;
  color: #cccccc;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-footer__img {
  display: block;
  margin: 10px auto;
}

.page-footer__list2 {
  display: flex;
  justify-content: center;
}

.page-footer__item2 {
  margin: 0 7px;
  font-family: Roboto;
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin: 38px 0 20px;
  }

  .page-footer__list {
    display: flex;
    justify-content: space-between;
    width: 690px;
    margin: 0 auto;
  }

  .page-footer__item:nth-child(2),
  .page-footer__item:nth-child(3),
  .page-footer__item:last-child {
    margin-top: 0;
  }
  
  .page-footer__item:last-child {
    text-align: end;
  }

  .page-footer__list2 {
    margin-top: 11px;
    flex-direction: column;
    align-items: flex-start;
  }

  .page-footer__item2 {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__list {
    justify-content: start;
    width: 941px;
  }

  .page-footer__item:first-child {
    margin-right: 101px;
  }
  
  .page-footer__item:nth-child(2) {
    margin-right: 91px;
  }
  
  .page-footer__item:nth-child(3) {
    margin-right: auto;
  }
}