.partner {
  padding-bottom: 17px;
  text-align: center;
}
.partner__title {
  width: 90%;
  margin: 18px auto 16px;
  font-family: Montserrat;
  color: #333333;
  font-size: 22px;
  font-weight: 700;
}

.partner__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.partner__item {

  &:hover .partner__img{
    border-radius: 50%;
    box-shadow: 0 0 20px 10px #727272;
  }
}

.partner__item {
  margin-bottom: 27px;

  &:first-child {
    .partner__author {
    
      &::before {
        bottom: 32px;
        right: -5px;
      }
      
      &::after {
        bottom: 35px;
        right: -2px;
        background-color: #ff4e50;
      }
    }

    .partner__before {
    
      &::before {
        bottom: 35px;
        right: 85px;
        background: url('/img/svg/Shape128.svg') no-repeat;
      }
    }
  }
  
  &:nth-child(2) {
    .partner__author {
    
      &::before {
        bottom: 32px;
        right: -5px;
      }
      
      &::after {
        bottom: 35px;
        right: -2px;
        background-color: #ffa507;
      }
    }

    .partner__before {
    
      &::before {
        bottom: 35px;
        right: 82px;
        background: url('/img/svg/Shape155.svg') no-repeat;
      }
    }
  }
  
  &:nth-child(3) {
    .partner__author {
    
      &::before {
        bottom: 29px;
        right: -1px;
      }
      
      &::after {
        bottom: 31px;
        right: 1px;
        background-color: #1cd7ad;
      }
    }

    .partner__before {
    
      &::before {
        bottom: 32px;
        right: 87px;
        background: url('/img/svg/Shape153.svg') no-repeat;
      }
    }
  }
  
  &:last-child {
    .partner__author {
    
      &::before {
        bottom: 28px;
        right: -1px;
      }
      
      &::after {
        bottom: 30px;
        right: 1px;
        background-color: #4e73db;
      }
    }

    .partner__before {
    
      &::before {
        bottom: 28px;
        right: 88px;
        background: url('/img/svg/Shape170.svg') no-repeat;
      }
    }
  }
}

.partner__img{
  border-radius: 50%;
  transition: all 0.4s ease;
}

.partner__author {
  position: relative;
  width: 120px;
  margin: 14px auto;
  font-family: Montserrat;
  color: #333333;
  font-size: 14px;
  font-weight: 700;

  &::before {
    position: absolute;
    content: '';
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  
  &::after {
    position: absolute;
    content: '';
    width: 33px;
    height: 33px;
    border-radius: 50%;
  }
}

.partner__before {
  position: relative;
  width: 320px;
  margin: 0 auto;
  
  &::before {
    position: absolute;
    content: '';
    width: 39px;
    height: 39px;
  }
}

.partner__text {
  width: 67%;
  margin: 14px auto;
  color: #666666;
  font-size: 14px;
}

.partner__btn {
  display: inline-block;
  width: 280px;
  margin-top: 4px;
  padding: 10px 0;
  font-family: Montserrat;
  color: #ff4e50;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  border: 2px solid #ff4e50;
  transition: all 0.4s ease;

  &:hover {
    color: #ffffff;
    background-color: #ff4e50;
  }
}

@media (min-width: $tablet-width) {
  .partner {
    padding-bottom: 77px;
  }

  .partner__title {
    font-size: 21px;
  }

  .partner__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 768px;
    margin: 0 auto;
    padding-top: 17px;
  }
  .partner__item {
    width: 260px;

    &:first-child {
      order: 1;
      margin-bottom: 43px;

      .partner__before {
    
        &::before {
          right: 113px;
        }
      }
    }
    
    &:nth-child(2) {
      order: 3;

      .partner__before {
    
        &::before {
          right: 113px;
        }
      }
    }
    
    &:nth-child(3) {
      order: 2;
      margin-bottom: 43px;

      .partner__before {
    
        &::before {
          bottom: 34px;
          right: 116px;
        }
      }
    }

    &:last-child {
      order: 4;

      .partner__before {
    
        &::before {
          bottom: 29px;
          right: 117px;
        }
      }
    }
  }

  .partner__text {
    width: 83%;
  }

  .partner__btn {
    width: 192px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .partner__item {
    width: 240px;

    &:first-child {

      .partner__before {
    
        &::before {
          right: 123px;
        }
      }
    }
    
    &:nth-child(2) {

      .partner__before {
    
        &::before {
          right: 123px;
        }
      }
    }
    
    &:nth-child(3) {

      .partner__before {
    
        &::before {
          right: 126px;
        }
      }
    }

    &:last-child {

      .partner__before {
    
        &::before {
          right: 127px;
        }
      }
    }
  }

  .partner__list {
    flex-wrap: nowrap;
    width: 960px;
  }

  .partner__text {
    width: 90%;
  }
}